.team-member img {
    display: block;
    margin: 0 auto;
    max-width: 100%; 
    height: auto; 
}


body {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box;
    background-color: lightcyan;
    font-family: 'Arial', sans-serif;
}


#homeContainer,
#partnerContainer,
#workoutContainer,
#communityContainer {
    max-width: 800px; 
    margin: 0 auto;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

#overview {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
}

.team-member {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

nav {
    background-color: goldenrod; 
    padding: 10px 20px;
    text-align: center; 
  }
  
  nav a {
    color: white; 
    text-decoration: none; 
    margin: 0 10px; 
  }
  
  nav a:hover {
    color: #ffd700; 
  }

button {
    background-color: #0066cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0055aa;
}

button:focus {
    outline: none;
}